
<div class="map-overlay" >

  <div class="btn-container">

    <label class="switch btn-color-mode-switch">

      <input type="checkbox"
        name="color_mode"
        id="color_mode"
        value="1"
        (change)="onTypeChange($event)">

      <label for="color_mode"
        data-on="Events"
        data-off="Attraktionen"
        class="btn-color-mode-switch-inner">

      </label>

    </label>

  </div>

</div>

<div class="map"
  leaflet
  [leafletOptions]="options"
  [leafletLayers]="layers">
</div>

<app-popup
  [popupType]="'eventList'"
  [showPopup]="showPopup"
  [popupEvents]="popupEvents"
  [eventLocation]="eventLocation"
  (closePopupClicked)="closePopup()">
</app-popup>







