<div class="page-container">

  <app-back-button></app-back-button>

  <div class="scrollable-container">

    <h2 class="backbtn">Meine Bestellungen</h2>

    <p *ngIf="refund" class="successmsg">
      Die Stornierung war erfolgreich.
    </p>

    <div class = "noOrder" *ngIf="noOrder">
      <p class = "text">
        Sie haben noch keine Bestellungen.
      </p>
    </div>

    <div *ngIf="!noOrder">
      <div *ngFor="let item of allOrders">
        <app-single-order [orders] = 'item'></app-single-order>
      </div>
    </div>

  </div>
</div>




