<div class="page-container">

  <button class = 'x-btn' (click) = 'cancel()'> <mat-icon>cancel</mat-icon></button>
  <h2>
    Passwort
  </h2>

  <div class="container scrollable-container">

    <div class = "group">
      <app-user-input  [invalid]="!bools[0]" msg = {{msgs[0]}} label="Aktuelles Passwort" type="password" [(text)] = "passwordOld"></app-user-input>
      <app-user-input  [invalid]="!bools[1]" msg = {{msgs[1]}} label="Neues Passwort" type="password" [(text)] = "password"></app-user-input>
      <app-user-input  (enterKeyPressed)="checkInput()" [invalid]="!bools[2]" msg = {{msgs[2]}} label="Neues Passwort Wiederholen" type="password"  [(text)] = "passwordCheck"></app-user-input>
    </div>

    <div class="rowbuttons">
      <button class="cancel button" mat-flat-button color="primary" (click)="cancel()"> Abbrechen </button>
      <button class="save button"mat-flat-button color="accent" (click) = "check()" > Speichern</button>
    </div>

   <div class ="errormsg" >{{errorMessage}} </div>
   <div class ="successmsg" >{{successMessage}} </div>

</div>



</div>
