<div class="page-container">

    <app-back-button></app-back-button>

    <h2 class = "backbtn">Über uns</h2>

    <div class="scrollable-container">
      <p>
          Auf dieser Seite finden Sie mehr Informationen zum Software-Projekt Team, das die gegebene Version von Island-Explorer entwickelt hat.
      </p>

      <h3>Unser Team</h3>
      <!-- Komponenten aus den Individualprojekten:  -->
      <div class="team-container">
        <app-profile-jg></app-profile-jg>
        <app-profile-lm></app-profile-lm>
        <app-profile-mg></app-profile-mg>
        <app-profile-tb></app-profile-tb>
        <app-profile-ps></app-profile-ps>
        <app-profile-as></app-profile-as>
      </div>

    </div>

</div>
